<div class="flex flex-1 justify-center items-center">
  <div  class="shadow-2xl rounded-2xl w-[30%] p-10">
    <img src="../public/img/logo.png" alt="Logo" class="w-[15rem] h-auto mx-auto">
    <h2 class="text-center text-xl font-bold">Bejelentkezés sikertelen</h2>
    <p class="text-center mt-5">A bejelentkezés nem sikerült. Kérjük, próbáld újra.</p>
    <div class="flex justify-center mt-5">
      <a href="{{url}}/login" class="bg-[#3b2e21] text-white py-2 px-4 rounded-lg font-bold hover:bg-[#5a4636] transition duration-300">Újra próbálkozás</a>
    </div>
  </div>
</div>