<div class="flex flex-1 justify-center items-center">
  <form action="{{url}}/api/user/login" method="POST" class="shadow-2xl rounded-2xl w-[30%] p-10">
    <img src="../public/img/logo.png" alt="Logo" class="w-[15rem] h-auto mx-auto">
    <h2 class="text-center text-xl font-bold">Bejelentkezés</h2>
    <div class="flex flex-col space-y-5 mt-5">
      <input type="email" class="py-2 px-5 border-[#3b2e21] border-2 outline-none rounded-lg" name="email" placeholder="E-mail cím">
      <input type="password" class="py-2 px-5 border-[#3b2e21] border-2 outline-none rounded-lg" name="password" placeholder="Jelszó">
      <button type="submit" class="bg-[#3b2e21] text-white py-2 rounded-lg font-bold hover:bg-[#5a4636] transition duration-300">Bejelentkezés</button>
      <p class="text-center">Nincs fiókod? <a href="{{url}}/registration" class="hover:underline">Regisztrálj</a></p>
    </div>
  </form>
</div>